@import "tailwindcss";

/* Nothing dotted background */
.dot-bg {
  background-color: #000000;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.15) 1px,
    transparent 1px
  );
  background-size: 24px 24px;
}

/* Ensure full height */
html, body {
  height: 100%;
}